{% extends 'layout.html' %}
{% block body %}
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title text-center">Attendance for Each Lecture</h4>
              </div>
              <div class="card-body">
                {% if attendance is not none %}
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        {% for lec in unique_lect_no %}
                          <li class="page-item"><a class="page-link" href="{{ url_for('view_lectures_attendance', lecture=lec[0]) }}">Lecture {{ lec[0] }}</a></li>
                        {% endfor %}
                      </ul>
                  </nav>

                  <hr>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Roll No.</th>
                        <th scope="col">Course</th>
                        <th scope="col">Lecture No.</th>
                        <th scope="col">Marked By</th>
                        <th scope="col">Marking Date</th>
                        <th scope="col">Marking Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for a in attendance %}
                      <tr>
                        <th>{{ a.rollno }}</th>
                        <td>{{ a.course }}</td>
                        <td>{{ a.lecture_no }}</td>
                        <td>{{ a.marked_by }}</td>
                        <td>{{ a.marked_date }}</td>
                        <td>{{ a.marked_time }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% if not session.is_admin %}
                    {% if request.args.get('lecture') is not none %}
                    <a href="/facultydownloadcsv/{{ request.args.get('lecture') }}" class="btn btn-primary">
                      Download Attendance File for Lecture {{ request.args.get('lecture') }}
                    </a>
                    {% else %}
                    <a href="/facultydownloadcsv/1" class="btn btn-primary">
                      Download Attendance File for Lecture 1
                    </a>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <h5 class="text text-danger">No Records Available</h5>
                {% endif %}
              </div>
              <div class="card-footer text-muted">
              </div>
            </div>
          </div>
{% endblock %}
